<div class="displayview">
  <div class="container position">
    <div class="login">
      <h1>Login</h1>
      <hr />
      <p>Welcome To Ichiraku Ramen</p>
      <form action="">
        <label for="">Email</label>
        <input type="text" placeholder="example@gmail.com" />
        <label for="">Password</label>
        <input type="password" placeholder="Password" />
        <button>Login</button>
      </form>
    </div>
    <div class="right">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg"
        alt="no image"
      />
    </div>
  </div>
</div>
